* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#menu {
    align-content: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 10px;
    padding: 20px;
}

.link {
    color: rgb(34, 34, 34);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.object {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}


.links {
    justify-content: space-around;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    color: #FF9619;
}

#logo {
    margin: 10px 10px 10px 0px;
    height: 70px;
    width: 250px;
}

.contact {
    color: rgb(34, 34, 34);
    height: 15px;
}

.lang {
    height: 30px;
}

option:checked {
    background-color: #FF9619;
}

.main {
    display: flex;
    flex-direction: column;
}

.main_1 {
    background-color: #CCB2A3;
}

#foto {
    float: right;
    margin: 40px 10px 10px 40px;
    height: 500px;
}

h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Merriweather', 'Times New Roman', serif;
    padding-top: 50px;
    padding-left: 100px;
}

h1::first-letter {
    color: #FF9619;
}

.link-button {
    display: block;
    text-decoration: none;
    background-color: #FF9619;
    border-radius: 3px;
    color: white;
    margin-left: 100px;
    padding: 12px;
    width: 200px;
    text-align: center;
}

.select {
    color: rgb(34, 34, 34);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.main_2 {
    height: 900px;
}

h3 {
    color: #343434;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    align-self: flex-end;
    margin-left: 140px;
    margin-top: 200px;
}

h3::first-letter {
    color: #FF9619;
}

.new {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 30px;
}

.border {
    border: 1px solid rgb(142, 138, 138);
    width: 200px;
    height: 150px;
}

.arrow {
    width: 15px;
    height: 15px;
    align-self: center;
    font-weight: bolder;
}

#second_button {
    height: 200px;
}

.link-button_2 {
    display: block;
    text-decoration: none;
    background-color: #FF9619;
    border-radius: 3px;
    color: white;
    margin-left: 643px;
    padding: 12px;
    width: 200px;
    text-align: center;
}

.main_3 {
    display: flex;
    height: 400px;
    background-color: #A9C2BE;
    margin-top: -450px;
    justify-content: flex-end;
}

.individual {
    width: 650px;
    background-color: #5B5B5B;
    color: white;
    font-weight: lighter;
    padding: 10px;
}

h4 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    align-self: flex-end;
    margin-left: 140px;
    margin-left: 1px;
}

h4::first-letter {
    color: #FF9619;
}

.first {
    font-weight: 800;
}

.link-button_3 {
    display: block;
    text-decoration: none;
    background-color: #FF9619;
    border-radius: 3px;
    color: white;
    padding: 12px;
    width: 300px;
    text-align: center;
    margin-top: 40px;
}

.main_4 {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.history {
    width: 500px;
    height: 250px;
    background-color: #5B5B5B;
    color: white;
    font-weight: lighter;
    margin: 50px 230px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#bosfor {
    margin: 0px 10px 10px -300px;
    height: 250px;
    width: 150px;
}

.main_5 {
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#foto2 {
    margin: 0px 10px 10px 150px;
    height: 500px;
}

.main_6 {
    height: 500px;
    background-color: #A9C2BE;
}

#forma {
    width: 380px;
    height: 350px;
    margin-left: 870px;
    margin-top: -430px;
    background-color: #FFFFFF80;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#anket {
    color: #FF9619;
}

.anket {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.forma {
    height: 30px;
}

#call {
    background-color: #FF9619;
    border-radius: 3px;
    color: white;
    border: #FF9619;
    height: 30px;
    text-align: center;
}

.main_7 {
    display: flex;
    flex-direction: row;
    height: 250px;
    margin: 100px;
    justify-content: space-around;
    align-items: flex-end;
}

.Ekmi_info {
    width: 207px;
    height: 240px;
}

.main_8 {
    margin-top: 20px;
    display: flex;
}

.left {
    background-color: #5B5B5B;
    width: 753px;
    height: 435px;
    color: #FFFFFF;
    padding: 135px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.right {
    background-color: #CCB2A3;
    width: 743px;
    height: 435px;
}

#Arni {
    margin-left: 0px;
    margin-top: 10px;
}

.images_1 {
    height: 250px;
    margin-top: 110px;
    margin-left: 130px;
    word-spacing: 70px;
}

.images_2 {
    margin-left: 190px;
    word-spacing: 30px;
}

.first {
    height: 250px;
}

#ekmi {
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 100px;
}

footer {
    background-color: #5B5B5B;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.info_1 {
    display: flex;
    flex-direction: column;
}

.info_2 {
    display: flex;
    flex-direction: column;
}

.info_3 {
    display: flex;
    flex-direction: column;
}

.info_link {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.info_link:hover {
    text-decoration: underline;
}

#consultation {
    display: block;
    text-decoration: none;
    background-color: #FF9619;
    border-radius: 3px;
    color: white;
    border: 1px solid #5B5B5B;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.END {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: flex-end;
}